#one{
    color:white;
    background-color: darkmagenta;
}
.social{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}
#two{
    background-color: turquoise;
}